<div class="footer">
<div class="left">
  <p><span class="mat-display-1">Pepenators</span> by WM</p>
  <p class="mat-body">Strona może wydawać się smieszna, ale to jest kurwa prawda</p>
</div>
  <div class="right">
    <p class="mat-body">Projekt w GitHub: <a href="https://github.com/AH1N1/git-hub-pages" target="_blank">https://github.com/AH1N1/git-hub-pages</a></p>
    <p class="mat-body">Inni twórcy: <span class="color-accent">M, K, S</span></p>
    <p class="mat-body">Grafika: <span class="color-accent">Wszystko zajebałem z neta</span></p>
  </div>
</div>
