.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.no-img {
  height: 400px;
}

.margin-bottom-1em {
  margin:  0 0 1em 0;
}

/*h1{*/
/*  font-size: 4.5em;*/
/*  font-family: 'Lexend Mega', sans-serif;*/
/*}*/

/*h2{*/
/*  font-size: 2.5em;*/
/*  font-family: 'Lexend Mega', sans-serif;*/
/*}*/

/*h3{*/
/*  font-size: 2em;*/
/*  font-family: 'Lexend Mega', sans-serif;*/
/*}*/

/*h4{*/
/*  font-size: 1.5em;*/
/*  font-family: 'Lexend Mega', sans-serif;*/
/*}*/

/*.mat-stroked-button{*/
/*  border: none;*/
/*  width:100%*/
/*}*/
