<!--<mat-toolbar>-->
<!--&lt;!&ndash;  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon>menu</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--  <span>Pepenat00rs</span>-->
<!--&lt;!&ndash;  <span class="example-spacer"></span>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon>favorite</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon>share</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--</mat-toolbar>-->
<div class="background-img">
  <img class="img" src="assets/tlo_top.jpg"/>
  <div class="content">
    <div class="card">
      <h1 class="header">Pepenat00rs</h1>
      <h2 class="header">Jeden Pep</h2>
      <h3 class="header">Jeden blog</h3>
      <h4 class="header">Tysiące oddanych fanów</h4>
    </div>
  </div>
</div>
<!--<div class="no-img">-->
<mat-card>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <button mat-stroked-button><h2>Cytaty</h2></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button><h2>Słowniczek</h2></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button><h2>Jakiś dział</h2></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button><h2>Prace fanów</h2></button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<!--</div>-->
<div class="background-img">
  <img class="img" src="assets/tlo_bottom.jpg"/>
  <div class="content">
    <div class="card">
      <h2>O mnie</h2>
    </div>
  </div>
</div>
<!--<img src="https://ocdn.eu/images/pulscms/Zjg7MDA_/d0037a763b90b81f1af564d009f8408f.jpg">-->

<!-- TODO:  przeniesc do oddzielnego modulu wraz zz dyrektywami do obslugi-->
<app-side-container [side]="'left'">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Oazowy San</mat-card-title>
      <mat-card-subtitle>Wielebny</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/pepe_san.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        'Beka z ruchania'
      </p>
    </mat-card-content>
  </mat-card>
</app-side-container>
<app-side-container [side]="'right'">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shugi San</mat-card-title>
      <mat-card-subtitle>Predator</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/pepe_san.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        'Mikołaj nie masz czaem jakiejś czeczenki do wychowania?'
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--      <button mat-button>LIKE</button>-->
      <!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
</app-side-container>

<app-side-container [side]="'left'">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Pepe San</mat-card-title>
      <mat-card-subtitle>Zawisza</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/pepe_san.png" alt="Photo of a Shiba Inu" style="border-radius: 50%">
    <mat-card-content>
      <p>
        'Krupałke jak na ten moment na 90% będę dam znać wieczorem już na 100.'
      </p>
    </mat-card-content>
  </mat-card>
</app-side-container>
<!--<mat-grid-list cols="2" rowHeight="">-->
<!--  <mat-grid-tile>-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>E</mat-grid-tile>-->
<!--  <mat-grid-tile>E</mat-grid-tile>-->
<!--  <mat-grid-tile>P</mat-grid-tile>-->
<!--</mat-grid-list>-->
