<app-welcome-banner [src]="'assets/tlo_top.jpg'">
  <h1 class="mat-display-4">PEPEnat00rs</h1>
  <p class="mat-display-3 margin-0">Jeden Pep</p>
  <p class="mat-display-2 margin-0">Jeden blog</p>
  <p class="mat-display-1 margin-0">Setki fanów</p>
</app-welcome-banner>

<app-nav-bar-heavy></app-nav-bar-heavy>

<!--//todo: link do postaci oraz slowniczka dla vegeshmat-->
<app-welcome-banner [src]="'assets/tlo_bottom.jpg'">
  <p class="mat-display-3 ">Kim jest?</p>
  <p class="mat-body-1 ">Dla jednych zwykły człowiek, dla innych wspaniała osobistość. Tylko czy aby na pewno jedna?</p>
  <p class="mat-body-1 ">Pepe ma tyle wcieleń ile jest <span>vegeshmat</span> na świecie, ale część z nich udało nam się
    poznać. Wszystkie znane postacie Pepa możesz znaleźć w dziale <span class="mat-body-2">postacie</span>. </p>
</app-welcome-banner>
