<div class="tree-container">
  <div class="left">
    <div class="quote-wrapper">
      <div class="quote"></div>
    </div>
    <div class="quote-wrapper">
      <div class="quote"></div>
    </div>
    <div class="quote-wrapper">
      <div class="quote">dsasdasdsadasdassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssd</div>
    </div>
  </div>
  <div class="trunk"></div>
  <div class="right">
    <div class="quote"></div>
    <div class="quote"></div>
    <div class="quote"></div>
  </div>
</div>

<div></div>
