@import '~@angular/material/theming';
@import 'screen';
@import "colors";
// Plus imports for other components in your app.

//Set font
$custom-typography: mat-typography-config(
  $font-family: 'Lexend Mega, sans-serif'
);
@include mat-base-typography($custom-typography);
@include mat-core($custom-typography); // Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-brown,  400, 800, 900);
$app-accent: mat-palette($mat-brown, 400, 800, 900);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme-light);



@media(max-width: $desktop) {
  $custom-typography: mat-typography-config(
  $font-family: 'Lexend Mega, sans-serif',
  $display-4: mat-typography-level(3em, 1em, 500, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(2.5em, 1em, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(2em, 1em, 300, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(1.5em, 1em, 300)
  );
  @include mat-base-typography($custom-typography);
}


